html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../images/flag_collage.jpg");
	background-position: fixed;
}

h2 {
	color: #19cd1f;
	font-size: 40px;
}

.title,
.game {
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	border: solid #19c7cd 4px;
	margin: auto;
	margin-top: 15px;
	color: #fff;
}

.title {
	width: 65%;
	height: 80px;
	padding-top: 15px;
	font-size: 70px;
	font-family: 'Bungee', cursive;
}

.game {
	width: 60%;
	border-radius: 10px;
	height: 600px;
	font-family: 'Fugaz One', sans-serif;
	font-size: 30px;
}

.box,
.end {
	padding: 0px 0px 20px 10px;
	margin: 20px;
}

.end {
	clear: both;
}

.left,
.right {
	float: left;
	text-align: left;
	padding-right: 36px;
}

.hidden,
.counter,
.wins {
	padding-top: 10px;
	font-family: 'Sunflower' , sans-serif;
}

.guesses,
.message {
	font-family: 'Fugaz One' , cursive;
}

.mandp {
	height: 270px;
	width: 250px;
}

.hidden {
	font-size: 55px;
	padding-top: 40px;
}

.message {
	font-size: 30px;
	width: 400px;
}

.picture {
	width: 220px;
	height: 140px;
	margin-top: 10px;
}

.counter,
.wins {
	padding-top: 20px;
	text-align: center;
	font-size: 60px;
}

#flag {
	width: 200px;
	/*display: none;*/
}













