html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../images/flag_collage.jpg");
	background-position: fixed;
}

.title,
.game {
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	border: solid #19c7cd 4px;
	margin: auto;
	margin-top: 30px;
	color: #fff;
}

.title {
	width: 65%;
	height: 100px;
	padding-top: 25px;
	font-size: 80px;
	font-family: 'Bungee', cursive;
}

.game {
	width: 50%;
	border-radius: 10px;
	height: 500px;
	font-family: 'Fugaz One', sans-serif;
	font-size: 30px;
}

.wins,
.remain,
.guesses,
.current {
	padding: 0px 0px 100px 10px;
	margin: 20px;
}

.left,
.right {
	float: left;
	text-align: left;
	padding-right: 40px;
}

.hidden {
	color: #fff;
	padding-top: 30px;
	width: 250px;
}













